[submodule "pregresql"]
	path = pregresql
	url = https://github.com/taabishm2/pregresql.git
[submodule "Sundial-Private"]
	path = Sundial-Private
	url = https://github.com/SaanidhiArora/Sundial-Private.git
